<%- include("partials/header") %>

    <h1>ERROR</h1>    
    <p><i><%= err %></i></p>
    <a href="<%= BaseURLComments %>/">Ir a página principal</a>
    <a href="<%= BaseURLComments %>/comentarios/new">Crear Comentario</a>
    

<%- include("partials/footer") %>