<%- include("partials/header") %>

    <script>
        function filtrar(){
            const baseHidden = document.getElementById("baseHidden").value

            const categoriaFiltro = document.getElementById("categoria").value
            const usuarioFiltro = document.getElementById("user").value

            let urlToGo = baseHidden + "/comentarios"

            if(categoriaFiltro && categoriaFiltro != ""){
                urlToGo += "?cat=" + categoriaFiltro
            }

            if(usuarioFiltro && usuarioFiltro != ""){
                if (urlToGo.includes("?")){
                    urlToGo += "&user=" + usuarioFiltro           
                }else{
                    urlToGo += "?user=" + usuarioFiltro
                }                
            }

            window.location.href = urlToGo
        }
    </script>

    

    <% if(categoriaValorFiltro == '' && usuarioValorFiltro == '') { %>
        <h1>Listado de Comentarios</h1>
    <% } else { %>
        <h1>Listado de Comentarios (<%= 'cat:' + categoriaValorFiltro + ' | user:' + usuarioValorFiltro  %>)</h1>
    <% } %>
    <h1><%= Pepito %></h1>
    <hr>
    <label><b>FILTROS</b></label>
    <br>
    <br>
    <label>Categoria:</label>
    <input id="baseHidden" type="hidden" value="<%= BaseURLComments %>">
    <input list="categorias" name="categoria" id="categoria" value="<%= categoriaValorFiltro %>"> <!-- onchange="filtrar()">-->
    <datalist id="categorias">
        <% for(c of categorias) {%>
            <option value="<%= c %>"></option>
        <% } %>
    </datalist>
    <label>Usuario:</label>
    <input id="user" type="text" value="<%= usuarioValorFiltro %>">
    <input type="button" value="Filtrar" onclick="filtrar()">
    <a href="<%= BaseURLComments %>/comentarios/">Limpiar</a>
    <hr>
    <br>    
    <a href="<%= BaseURLComments %>/comentarios/new">Nuevo Comentario</a>
    <a href="<%= BaseURLComments %>/comentarios/json">Ver formato JSON</a>
    <div class="contenedor">
    <% for(let c of comentarios) {%>
        <div class="caja">
            <div>                
                <a href="<%= BaseURLComments %>/comentarios/<%= c._id %>">
                    <img width="32px" src="../img/lupa.png">
                </a>
                <a href="<%= BaseURLComments %>/comentarios/<%= c._id %>/edit">
                    <!--<img width="32px" src="../img/edit.png">-->
                    editar
                </a>
                <form action="<%= BaseURLComments %>/comentarios/<%= c._id %>?_method=DELETE" method="POST">
                    <button>eliminar</button>
                </form>                
            </div>
            <div class="nombre">
                <%= c.usuario %>
            </div>
            <div>
                <%= c.opinion %>
            </div>
        </div>
    <% }%>
    </div>

<%- include("partials/footer") %>