<%- include("partials/header") %>

    <h1>Nuevo Comentario</h1>
    <form action="<%= BaseURLComments %>/comentarios" method="POST">
        <input type="text" placeholder="Usuario..." name="usuario" required>        
        <br>
        <input type="number" name="valoracion" required>
        <br>
        <select name="categoria">
            <% for(c of categorias) {%>
                <option value="<%= c %>"><%= c %>
                </option>                
            <% } %>
        </select>
        <br>
        <label>Opinion:</label>
        <br>
        <textarea name="opinion" cols="30" rows="5" required></textarea>
        <br>
        <br>
        <button>Guardar</button><!--<input type="submit" value="Guardar">-->        
        <a href="<%= BaseURLComments %>/">Cancelar</a>
    </form>

<%- include("partials/footer") %>