<%- include("partials/header") %>

    <h1>Detalles</h1>
    <h2>ID: <%= comentario.id %></h2>
    <h2>USUARIO: <%= comentario.usuario %></h2>
    <h2>VALORACION: <%= comentario.valoracion %></h2>
    <h2>CATEGORIA: <%= comentario.categoria %></h2>
    <p>OPINION: <%= comentario.opinion %></p>
    <a href="<%= BaseURLComments %>/">Volver al listado</a>

<%- include("partials/footer") %>