<%- include("partials/header") %>

    <h1>Editar Comentario</h1>
    <h2>ID: <%= comentario.id %></h2>
    <form action="<%= BaseURLComments %>/comentarios/<%= comentario._id %>?_method=PATCH" method="POST">
        <!--<h2>USUARIO: <%= comentario.usuario %></h2>
        <p>OPINION: <%= comentario.opinion %></p>-->
        <input type="text" placeholder="Usuario..." name="usuario" value="<%= comentario.usuario %>" required>
        <br>
        <input type="number" name="valoracion" value="<%= comentario.valoracion %>" required>
        <br>
        <select name="categoria">
            <% for(c of categorias) {%>
                <!--<option value="<%= c %>" <%= c == comentario.categoria ? "selected" : "" %>>
                    <%= c %>
                </option>-->
                <% if(c == comentario.categoria) { %>
                    <option selected value="<%= c %>"><%= c %>
                    </option>                
                <% } else { %>
                    <option value="<%= c %>"><%= c %>
                    </option>                
                <% } %>
            <% } %>
        </select>
        <br>
        <label>Opinion:</label>
        <br>
        <textarea name="opinion" cols="30" rows="5" required>
            <%= comentario.opinion %>
        </textarea>
        <br>
        <br>
        <button>Guardar</button><!--<input type="submit" value="Guardar">-->        
        <a href="<%= BaseURLComments %>/">Cancelar</a>
    </form>    

<%- include("partials/footer") %>