<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Personajes Star Wars</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <canvas id="espacio"></canvas>
    <h1>Galería de Personajes Star Wars</h1>

    <div class="regresar">
      <a href="/search"><button>⬅ Buscador</button></a>
    </div>

    <% if (personajes.length === 0) { %>
    <p>No se encontraron personajes. Mostrando galería completa.</p>
    <% } %>

    <div class="galeria">
      <% personajes.forEach(p => { %> <% const id =
      p.url.match(/\/people\/(\d+)\//)[1] %>
      <a href="/personajes/<%= id %>?q=<%= q %>">
        <img src="<%= p.photo %>" alt="<%= p.name %>" width="150" />
        <p><%= p.name %></p>
      </a>
      <% }) %>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
